.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__back {
  transform: rotateY(180deg);
}
