@media screen and (max-width: 600px) {
  .page {
    background-color: white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gallery__cards {
    grid-template-columns: 1fr;
  }

  .gallery__card {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
}
